{% extends "base.html" %}
{% load static %}
{% block url_2_class %} active {% endblock url_2_class %}
{% block title %} voyage-organise {% endblock title %}
{% block main %}
{% block block_css %}
<link rel="stylesheet" href="{% static 'css/card.css' %}">
{% endblock block_css %}
<section class="second">
    {% for hotel in query %}
         
    <div class="mini-card-hotel">
        <div class="image">
            <img src="{% static "assets/hotels/"%}{{ hotel.imagehotel_set.first.id_images.path_image }}" alt="">
            {% comment %} pour ceci il faut remplacer le voyage par hotel pour les likes  {% endcomment %}
            <span class="reaction">
                <img class="heart" src="#" data-voyage="{{ avoir_instance.id_voyage.id_voyage }}" id="{{ avoir_instance.id_voyage.id_voyage }}" onclick="toggleLike(this)">
                <form>
                    {% csrf_token %}
                    <input type="hidden" name="id_user" value=1>
                    <input type="hidden" name="id_voyage" value={{ avoir_instance.id_voyage.id_voyage }}>
                    <input type="hidden" name="inputLike" value="#">
                </form>
            </span>
        </div>
        <div class="body">
            <div class="title-localisation">
                <span class="title">{{ hotel.nom_hotel }}</span>
                <span class="localisation"><i class="fa-solid fa-location-dot"></i>&nbsp;{{ hotel.id_ville.nom_ville }}</span>
            </div>
            <div class="price"><img src="{% static 'assets/background-pricing.png' %}" alt="background-pricing"><span>{{ hotel.prix_nuit }} MAD/Pers.</span></div>
            <span class="type_ch">Type Chambre : <span>{{hotel.type_chambre}}</span></span>
            <span>{% if hotel.petit_dejeuner%}<i class="fa-solid fa-utensils" style="color: gray;"></i>{% endif %}</span>
            <form method="get" action="/hotels_details/{{ hotel.id_hotel }}">
                <button type="submit"><i class="fa-solid fa-angles-right">&nbsp;&nbsp;</i>Details</button>
            </form>
                     
        </div>        
    </div> 

    {% endfor %}
</section>
{% endblock main %}