{% extends 'base.html' %}
{% load static %}
{% block title %} voyage organise details - {{ id_voyage }} {% endblock title %}
{% block main %}
<div style="height: 200px;"></div>

<h1>{{ id_voyage }}</h1>

<div class="mini-card-voyage">
    <div class="image">
        <img src="{% static 'assets/hotel.png' %}" alt="image-hotel">
        {% comment %} <span class="reaction">
            <img id="heart" src="{% static 'assets/like-empty.svg' %}" onclick="toggleLike(this)">
        </span> {% endcomment %}
    </div>
    <div class="body">
        <span class="title">{{ avoir_instance.id_voyage.titre_voyage }}</span>
        <span class="localisation"><i class="fa-solid fa-location-dot"></i>{{ avoir_instance.id_ville.id_pays.nom_pays }}, {{ avoir_instance.id_ville.nom_ville }}</span>
        <span class="price">Prix: <span>{{ avoir_instance.id_voyage.prix_voyage }} Dhs</span></span>
        <span class="price">Nom hotel: <span>{{ avoir_instance.id_voyage.id_hotel.nom_hotel }}</span></span>
        <span class="rating">Durée: <span>{{ avoir_instance.id_voyage.duree_voyage }} jours / {{ avoir_instance.id_voyage.duree_voyage|add:"-1" }} nuits</span></span>
        <span class="rating">Promotion: <span>{{ avoir_instance.id_voyage.id_promotion.pourcentage }} %</span></span>
        <form method="get" action="/promotions_details/{{ avoir_instance.id_voyage.id_voyage }}">
            <button type="submit">J'en profit</button>
        </form>
    </div>        
</div> 
{% endblock main %}

