{% extends "base.html" %}
{% load static %}
{% block url_7_class %} active {% endblock url_7_class %}
{% block title %} voyage-organise {% endblock title %}
{% block block_css %}
<style>
    .mini-card-voyage .body {
        gap: 25px;
    }
</style>
{% endblock block_css %}
{% block main %}

<section class="second">
    {% for avoir_instance in query %}
        {% if avoir_instance.id_voyage.id_categorie.nom_categorie == "special_haj"%} 
    <div class="mini-card-voyage">
        <div class="image">
            <img src="{% static 'assets/hotel.png' %}" alt="image-hotel">
            <span class="reaction">
                <img id="heart" src="{% static 'assets/like-empty.svg' %}" onclick="toggleLike(this)">
            </span>
        </div>
        <div class="body">
            <div class="title-localisation">
                <span class="title">{{ avoir_instance.id_voyage.titre_voyage }}</span>
                <span class="localisation"><i class="fa-solid fa-location-dot"></i>{{ avoir_instance.id_ville.id_pays.nom_pays }}, {{ avoir_instance.id_ville.nom_ville }}</span>
            </div>
            <span class="price"><img src="{% static 'assets/background-pricing.png' %}" alt="background-pricing">Prix: <span>{{ avoir_instance.id_voyage.prix_voyage }} Dhs</span></span>
            {% comment %} <span class="nom-hotel">Nom hotel: <span>{{ avoir_instance.id_voyage.id_hotel.nom_hotel }}</span></span> {% endcomment %}
            <span class="rating">Durée: <span>{{ avoir_instance.id_voyage.duree_voyage }} jours / {{ avoir_instance.id_voyage.duree_voyage|add:"-1" }} nuits</span></span>
            <form method="get" action="/voyage_organise_details/{{ avoir_instance.id_voyage.id_voyage }}">
                <button type="submit"><i class="fa-solid fa-angles-right">&nbsp;&nbsp;</i>Details</button>
            </form>
                     
        </div>        
    </div> 
     {% endif%} 
    {% endfor %}
</section>
{% endblock main %}