{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block url_4_class %} active {% endblock url_4_class %}
{% block title %} special_asie {% endblock title %}
{% block block_css %}
<link rel="stylesheet" href="{% static 'css/card.css' %}">
{% endblock block_css %}
{% block main %}

<section class="second">
    {% for avoir_instance in voyages %}
    <div class="mini-card-voyage">
        <div class="image">
            {% with avoir_instance.id_ville.id_ville|dict_lookup:ville_images as image_path %}
                {% if image_path %}
                    <img src="{% static 'assets/cities/' %}{{ image_path }}" alt="">
                {% endif %}
            {% endwith %}
            <span class="reaction">
                <!-- Rest of your HTML -->
            </span>
        </div>
        <div class="body">
            <!-- Rest of your HTML -->
        </div>        
    </div>
{% endfor %}

</section>
{% endblock main %}

{% block js_block %}
<script defer>

    function toggleLike(heart) {
        if (heart.src.includes('{% static "assets/like-full.svg" %}')) {
            heart.src = '{% static "assets/like-empty.svg" %}';
        } else {
            heart.src = '{% static "assets/like-full.svg" %}';
        }
    }

    function getCSRFToken() {
        const csrfCookie = document.cookie.split(';').find(cookie => cookie.trim().startsWith('csrftoken='));
        if (csrfCookie) {
            return csrfCookie.split('=')[1];
        }
        return null;
    }

    document.addEventListener('DOMContentLoaded', function() {
        //document.getElementById('heart')
        const id_user = document.querySelector('#likeForm input[name="id_user"]').value;
        const id_voyage = document.querySelector('#likeForm input[name="id_voyage"]').value;

        formData = {id_user : 1, id_voyage : id_voyage};
        
        csrfToken = getCSRFToken();

        fetch('/special_asie/like/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken,
            },
            body: JSON.stringify(formData),})
            .then(response => response.json())
            .then(data => {
                console.log(data);
            });
    });
</script>
{% endblock js_block %}