@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main--green: #3DD6D0;
}

body {
    font-family: Poppins, sans-serif;
}

.container {
    display: flex;
}

.inner-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}



/* admin main menu styles */
.container .main-menu{
    /* position: fixed; */  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background: linear-gradient(to right, var(--main--green), rgb(174, 250, 245));
    width: fit-content;
}

.main-menu .logo {
    margin-top: 10px;
    /* border: 2px solid black; */
    border-radius: 10px;
    padding: 5px 10px   ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-menu .logo img {
    width: 200px;
    height: auto;
}

.main-menu ul {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
    padding: 10px 20px;
    min-height: 100vh;
}

.main-menu ul li {
    list-style-type: none;
    background-color: black;
    width: 100%;
}

.main-menu ul li a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

/* admin secondary menu styles */
.secondary-menu {
    width: 100%;
    padding: 5px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/* form input[type='text'] {
    border: 1px solid red;
    outline: none;
} */