@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --full-background: rgba(243, 244, 247, 1);
    --main-background: rgba(243, 244, 247, 1);
    --color-after: #7366ff;
    --back-after: #f1f0ff;
}

body {
    font-family: 'Rubik', sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table,
th,
td {
    border: 1.5px solid #cccccc;
    text-align: center;
}

th {
    background-color: #cdc7c75d;
}

.actions a {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 2px;
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    font-weight: 600;
    color: white;
    outline: none;
    border: none;
    transition: all .2s ease;
}

.actions a:first-child {
    background-color: rgb(255, 0, 0);
}

.actions a:first-child:hover {
    background-color: rgba(255, 0, 0, 0.704);
}

.actions a:nth-child(2) {
    background-color: rgb(8, 237, 35);
}

.actions a:nth-child(2):hover {
    background-color: rgba(8, 237, 35, 0.731);
}

.container-menu {
    display: flex;
}

.inner-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 250px;
}

.inner-container .secondary-menu {
    width: calc(100% - 250px);
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid #77777755;
    gap: 20px;
    padding: 10px 20px;
    position: fixed;
    right: 0;
    z-index: 999;
    top: 0;
    background-color: #fff;
}

.inner-container .secondary-menu .logoutBtn {
    background: transparent;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.inner-container .secondary-menu .logoutBtn i {
    transition: transform .2s ease-in-out;
}

.inner-container .secondary-menu .logoutBtn:hover {
    background-color: var(--main-background);
    color: #000;
}

.inner-container .secondary-menu .logoutBtn:hover i {
    transform: translateX(3px);
}

.inner-container .secondary-menu .logoutBtn i {
    margin-right: 5px;
}

.container {
    padding: 100px 20px;
    background-color: var(--full-background);
    min-height: 100vh;
}

/* admin main menu styles */
.container-menu .main-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    width: 250px;
    background-color: rgb(255, 255, 255);
    overflow: auto;
    border-right: 1px solid #77777755;
}

.main-menu .logo {
    margin-block: 10px;
    margin: auto;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    position: relative;
}

.main-menu .logo img {
    width: 200px;
    height: auto;
}

.main-menu .logo img i {
    position: absolute;
    top: 0;
    right: 0;
}

.main-menu ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    margin-top: 20px;
    padding: 10px 0;
    min-height: 100vh;
}

.main-menu ul li {
    list-style-type: none;
    width: 100%;
}

.main-menu ul li:hover {
    background-color: var(--back-after);
}

.main-menu ul li .active {
    background-color: var(--back-after);
    color: var(--color-after);
}

.main-menu ul li:hover a {
    color: var(--color-after);
}

.main-menu ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 16px 15px;
    cursor: pointer;
    color: rgb(117, 117, 137);
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
    height: 60px;
    vertical-align: center;
}

.main-menu ul li a i {
    display: inline-block;
    margin-right: 10px;
}

/* form tyling */

form:not(.logout) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
    margin: 40px auto;
    gap: 20px;
}

form:not(.logout) label {
    display: inline-block;
    width: 300px;
    font-weight: bold;
    color: #777;
}

form:not(.logout) input {
    border: 1px solid #77777796;
    border-radius: 2px;
    margin-left: 15px;
    padding: 5px 10px;
    outline: none;
    width: 300px;
}

form:not(.logout) input[type="file"]::file-selector-button {
    margin-right: 8px;
    border: none;
    display: inline-block;
    background: #000;
    border-radius: 2px;
    padding: 8px 12px;
    color: #fff;
    cursor: pointer;
}

input[type="file"]:focus {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

form:not(.logout) select {
    border: 1px solid #77777796;
    border-radius: 2px;
    margin-left: 15px;
    width: 300px;
    padding: 5px 10px;
    outline: none;
}

form:not(.logout) button[type="submit"] {
    border: none;
    border-radius: 2px;
    background-color: #fff;
    color: #000;
    outline: none;
    padding: 8px 10px;
    cursor: pointer;
    font-weight: 600;
    transition: all .3s;
}

form:not(.logout) button[type="submit"]:hover {
    background-color: #000;
    color: #fff;
}

.ajtBtn {
    border: none;
    border-radius: 2px;
    background-color: #fff;
    color: #000;
    outline: none;
    display: inline-block;
    margin: 20px 0;
    font-size: .8rem;
    padding: 8px 10px;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    transition: all .3s;
}

.ajtBtn:hover {
    background-color: #000;
    color: #fff;
}

.charts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
    margin: 100px auto;
}