{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN - {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "admin_styles/base.css" %}">
    {% block css_block %}{% endblock css_block %}
</head>
<body>
    {% comment %} <h1>C'est l'administration</h1> {% endcomment %}
    <div class="container">
        <nav class="main-menu">
            <div class="logo">
                <img src="{% static 'assets/travelMor-logo-black.png' %}" alt="LOGO TRAVEL MOR">
            </div>
            <ul>
                <li><a href="{% url "commentaires_gestion" %}">Dashboard</a></li>
                <li><a href="{% url "commentaires_gestion" %}">Voyages</a></li>
                <li><a href="{% url "commentaires_gestion" %}">Hotels</a></li>
                <li><a href="{% url "promotions_gestion" %}">Promotions</a></li>
                <li><a href="{% url "vols_gestion" %}">Vols</a></li>
                <li><a href="{% url "notifications_gestion" %}">Notifications</a></li>
                <li><a href="{% url "commentaires_gestion" %}">Commentaires</a></li>
                <li><a href="{% url "villes_gestion" %}">Villes</a></li>
                <li><a href="{% url "pays_gestion" %}">Pays</a></li>
            </ul>
        </nav>
        <div class="inner-container">
            <div class="secondary-menu">
                menu
                <h3>deconnexion</h3>
            </div>
            {% block main %} 
            {% endblock main %}
        </div>
    </div>
    {% block js_block %}{% endblock js_block %}
</body>
</html>