{% extends 'admin_pages/base.html' %}
{% block title %} Commentraires {% endblock title %}
{% block main_menu_link_class8 %}
    class="active"
{% endblock main_menu_link_class8 %}
{% block main %}
<div class="container">
    <h1 style="margin-bottom: 30px;">administration Commentraires</h1>
    <div>
        {% comment %} <form action="" method="GET" class="filter">
            <input type="text" name="search" name="search">
            <input type="submit" value="filtrer">
        </form> {% endcomment %}
        <table>
            <thead>
                <tr>
                    <th> ID Commentaire </th>
                    <th> ID Voyage </th>
                    <th> Auteur </th>
                    <th> Contenu </th>
                    <th> Evaluation </th>
                    <th> Date redaction </th>
                    <th> Actions </th>
                </tr>
            </thead>
            <tbody>
                {%for Commentaire in commentaires%}
                <tr>
                    <td>{{Commentaire.id_comment}} </td> 
                    <td>{{Commentaire.id_voyage.id_voyage}} </td> 
                    <td>{{Commentaire.id_utilisateur.nom}} {{Commentaire.id_utilisateur.prenom}} </td> 
                    <td>{{Commentaire.text_comment}} </td> 
                    {% comment %} <td>{% for i in Commentaire.evaluation %} <i class="fa-solid fa-star"></i>{% endfor %}</td>  {% endcomment %}
                    <td>
                        {% if Commentaire.evaluation >= 1 %}
                            <i class="fa-solid fa-star"></i>
                        {% endif %}
                        {% if Commentaire.evaluation >= 2 %}
                            <i class="fa-solid fa-star"></i>
                        {% endif %}
                        {% if Commentaire.evaluation >= 3 %}
                            <i class="fa-solid fa-star"></i>
                        {% endif %}
                        {% if Commentaire.evaluation >= 4 %}
                            <i class="fa-solid fa-star"></i>
                        {% endif %}
                        {% if Commentaire.evaluation >= 5 %}
                            <i class="fa-solid fa-star"></i>
                        {% endif %}
                    </td>
                    
                    <td>{{Commentaire.date_redaction}} {{Commentaire.heure_redaction}} </td> 
                    <td class="actions">
                        <a href="{% url 'supp_commentaire' Commentaire.id_comment%}"><i class="fa-solid fa-trash" style="margin-right: 5px;"></i>supprimer</a>
                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if messageSupp %}
        <p style="color: red;">{{ messageSupp }}</p>
    {% endif %}
<div class="container">

{% endblock main %}