{% extends 'admin_pages/base.html' %}
{% block title %} Commentraires {% endblock title %}
{% block main %}
    <h1>administration Commentraires</h1>
    <div>
        <form action="" method="GET" class="filter">
            <input type="text" name="search" name="search">
            <input type="submit" value="filtrer">
        </form>
        <table border = 1>
            <thead>
                <tr>
                    <th> ID Commentaire </th>
                    <th> ID Voyage </th>
                    <th> Auteur </th>
                    <th> Contenu </th>
                    <th> Date redaction </th>
                    <th> Actions </th>
                </tr>
            </thead>
            <tbody>
                {%for Commentaire in commentaires%}
                <tr>
                    <td>{{Commentaire.id_comment}} </td> 
                    <td>{{Commentaire.id_voyage.id_voyage}} </td> 
                    <td>{{Commentaire.id_utilisateur.nom}} {{Commentaire.id_utilisateur.prenom}} </td> 
                    <td>{{Commentaire.text_comment}} </td> 
                    <td>{{Commentaire.date_redaction}} {{Commentaire.heure_redaction}} </td> 
                    <td><button>supprimer</button></td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
    <form action="{% url 'villes_gestion' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">ajouter</button>
    </form>
{% endblock main %}