{% extends 'admin_pages/base.html' %}
{% load static %}
{% block title %} dashboard {% endblock title %}
{% block css_block %}
<link rel="stylesheet" href="{% static 'admin_styles/card.css' %}">
{% endblock css_block %}
{% block main_menu_link_class1 %}
    class="active"
{% endblock main_menu_link_class1 %}
{% block main %}
<div class="container">
    {% comment %} <h1>Admin dashboard</h1> {% endcomment %}
    <div class="cards">
        <div class="card">
            <h2>Total de reservations</h2>
            <p>{{reservations_nbr}}</p>
            <span>{{reservations_nbr}}</span>
        </div>

        <div class="card">
            <h2>Revenue</h2>
            <p>${{revenue}}</p>
            <span>${{revenue}}</span>
        </div>

        <div class="card">
            <h2>Nombre de clients</h2>
            <p>{{client_nb}} </p>
            <span>{{client_nb}} </span>
        </div>
        <div class="card">
            <h2>Nombre de Voyages</h2>
            <p>{{nb_voyages}} </p>
            <span>{{nb_voyages}} </span>
        </div>
        <div class="card">
            <h2>Satisfaction des clients</h2>
            <p>{{Satisfaction}}/5 </p>
            <span>{{Satisfaction}}/5 </span>
        </div>
    </div>
    <div>

    <div class="charts">
        <div style="height: fit-content; height: 500px; width: 400px;">
            <canvas id="myPieChart"></canvas>
        </div>
        
        <div style="height: fit-content; height: 400px; width: 400px; display: flex;">
            <canvas id="categoryDistributionChart" style="align-self: center;"></canvas>
        </div>
    </div>

    <h1 style="margin-block: 20px; text-align: center;"> Liste des reservations voyage</h1>
    <table>
        <thead>
            <tr>
                <th> Voyage ID </th>
                <th> Client ID </th>
                <th> Client nom </th>
                <th> Titre du voyage </th>
                <th> Duree de voyage (jours) </th>
                <th> Vol </th>
                <th> Action </th>
            </tr>
        </thead>
        <tbody>
            {%for reservation in reservations_voyage%}
            <tr>
                <td>{{reservation.id_voyage.id_voyage}} </td> 
                <td>{{reservation.id_utilisateur.id_utilisateur}} </td> 
                <td>{{reservation.id_utilisateur.nom}} {{reservation.id_utilisateur.prenom}} </td> 
                <td>{{reservation.id_voyage.titre_voyage}} </td> 
                <td>{{reservation.id_voyage.duree_voyage}} </td> 
                <td>{{reservation.id_vol}}</td> 
                <td class="actions">
                    <a href="{% url 'supp_reservation_voyage' reservation.id%}"><i class="fa-solid fa-trash" style="margin-right: 5px;"></i>Supprimer</a>
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
    <h1 style="margin-block: 20px; text-align: center;"> Liste des reservations hotel</h1>
    <table>
        <thead>
            <tr>
                <th> Hotel ID </th>
                <th> Client ID </th>
                <th> Client nom </th>
                <th> Nom du hotel </th>
                <th> Prix nuit </th>
                <th> Type chambre </th>
                <th> Action </th>
            </tr>
        </thead>
        <tbody>
            {%for reservation in reservations_hotel%}
            <tr>
                <td>{{reservation.id_hotel.id_hotel}} </td> 
                <td>{{reservation.id_utilisateur.id_utilisateur}} </td> 
                <td>{{reservation.id_utilisateur.nom}} {{reservation.id_utilisateur.prenom}} </td> 
                <td>{{reservation.id_hotel.nom_hotel}} </td> 
                <td>{{reservation.id_hotel.prix_nuit}} </td> 
                <td>{{reservation.id_hotel.type_chambre}} </td> 
                <td class="actions">
                    <a href="{% url 'supp_reservation_hotel' reservation.id%}"><i class="fa-solid fa-trash" style="margin-right: 5px;"></i>Supprimer</a>
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
</div>



{% endblock main %}

{% block js_block %}
{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
 {% endcomment %}
 <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        fetch('/top_voyages_data/')
            .then(response => response.json())
            .then(data => {
                console.log(data.labels);
                console.log(data.data);
                var ctx = document.getElementById('myPieChart').getContext('2d');
                var myPieChart = new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: data.labels,
                        datasets: [{
                            data: data.data,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.7)',
                                'rgba(54, 162, 235, 0.7)',
                                'rgba(255, 206, 86, 0.7)',
                                'rgba(75, 192, 192, 0.7)',
                                'rgba(153, 102, 255, 0.7)',
                            ],
                        }],
                    },
                });
            });
    });
    
</script>

<!-- Include this script in your HTML file -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        fetch('/category_distribution/')
            .then(response => response.json())
            .then(data => {
                var ctx = document.getElementById('categoryDistributionChart').getContext('2d');
                var myBarChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: data.labels,
                        datasets: [{
                            label: 'Nombre de voyages',
                            data: data.data,
                            backgroundColor: 'rgba(75, 192, 192, 0.7)',
                        }],
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true,
                            }
                        }
                    }
                });
            });
    });
</script>


{% endblock js_block %}