{% extends 'admin_pages/base.html' %}
{% block title %} Hotels {% endblock title %}
{% block main %}
<div class="container">
    <h1>administration hotels</h1>
    <div>
        <table>
            <thead>
                <tr>
                    <th> ID hotel </th>
                    <th> Nom hotel </th>
                    <th> Prix </th>
                    <th> Type chambre </th>
                    <th> Nombre chambre diponible </th>
                    <th> Petit dejeuner </th>
                    <th> Action </th>
                </tr>
            </thead>
            <tbody>
                {%for hotel in hotels%}
                <tr>
                    <td>{{hotel.id_hotel}} </td> 
                    <td>{{hotel.nom_hotel}} </td> 
                    <td>{{hotel.prix_nuit}} </td> 
                    <td>{{hotel.type_chambre}} </td> 
                    <td>{{hotel.n_chambreDispo}} </td> 
                    <td>{{hotel.petit_dejeuner}} </td> 
                    <td><button><a href="{% url 'supp_hotel' hotel.id_hotel%}">Supprimer</a></button><button><a href="{% url 'modif_hotel' hotel.id_hotel%}"> Modifier</a></button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% if messageSupp %}
    <p style="color: red;">{{ messageSupp }}</p>
{% endif %}
{% if messageEdit %}
    <p style="color: green;">{{ messageEdit }}</p>
{% endif %}

{% if form_modif %}
    <form action="{% url 'modif_hotel' hotel.id_hotel%}" method="POST">
        {% csrf_token %}
        {{ form_modif.as_p }}
        <button type="submit">Enregistré</button>
    </form>

{% elif form_ajout %}
<form action="{% url 'ajout_hotel'%}" method="POST">
    {% csrf_token %}
    {{ form_ajout.as_p }}
    <button type="submit">Enregistré</button>
</form>
{% else %}
    <button type="submit"><a href="{% url 'ajout_hotel'%}">ajouter</a></button>
{% endif %}
</div>
{% endblock main %}
