{% extends 'admin_pages/base.html' %}
{% block title %} Hotels {% endblock title %}
{% block main_menu_link_class3 %}
    class="active"
{% endblock main_menu_link_class3 %}
{% block main %}
<div class="container">
    <h1>administration hotels</h1>
    {% if messageSupp %}
    <p style="color: red;">{{ messageSupp }}</p>
    {% endif %}
    {% if messageEdit %}
        <p style="color: green;">{{ messageEdit }}</p>
    {% endif %}

    {% if form_modif %}
        <form action="{% url 'modif_hotel' hotel.id_hotel%}" method="POST">
            {% csrf_token %}
            {{ form_modif.as_p }}
            <button type="submit"><i class="fa-solid fa-check"></i> Enregistrer</button>
        </form>

    {% elif form_ajout %}
    <form action="{% url 'ajout_hotel' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form_ajout.as_p }}
    <label for="path_image" class="custom-file-label">Images du Hotel:
        <input type="file" name="path_image" multiple accept="image/*" />
    </label>
    <button type="submit"><i class="fa-solid fa-check"></i> Enregistrer</button>
    </form>
    {% else %}
        <a class="ajtBtn" href="{% url 'ajout_hotel'%}"><i class="fa-solid fa-plus"></i> Ajouter hotel</a>
    {% endif %}
    <div>
        <table>
            <thead>
                <tr>
                    <th> ID hotel </th>
                    <th> Nom hotel </th>
                    <th> Prix </th>
                    <th> Type chambre </th>
                    <th> Nombre chambre diponible </th>
                    <th> Petit dejeuner </th>
                    <th> Action </th>
                </tr>
            </thead>
            <tbody>
                {%for hotel in hotels%}
                <tr>
                    <td>{{hotel.id_hotel}} </td> 
                    <td>{{hotel.nom_hotel}} </td> 
                    <td>{{hotel.prix_nuit}} </td> 
                    <td>{{hotel.type_chambre}} </td> 
                    <td>{{hotel.n_chambreDispo}} </td> 
                    <td>{{hotel.petit_dejeuner}} </td> 
                    <td class="actions">
                        <a href="{% url 'supp_hotel' hotel.id_hotel%}"><i class="fa-solid fa-trash" style="margin-right: 5px;"></i>Supprimer</a>
                        <a href="{% url 'modif_hotel' hotel.id_hotel%}"><i class="fa-solid fa-pen-to-square" style="margin-right: 5px;"></i>Modifier</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock main %}
