{% extends 'admin_pages/base.html' %}
{% block title %} Notifications {% endblock title %}
{% block main_menu_link_class7 %}
    class="active"
{% endblock main_menu_link_class7 %}
{% block main %}
<div class="container">
    <h1>administration ville</h1>

    {% if form_modif %}
        <form action="{% url 'modif_notification' curr_notifications.id_notification%}" method="POST">
            {% csrf_token %}
            {{ form_modif.as_p }}
            <button type="submit"><i class="fa-solid fa-plus"></i> Enregistrer</button>
        </form>
    {% elif form_notifier %}
        <form action="{% url 'notifier'%}" method="POST">
            {% csrf_token %}
            {{ form_notifier.as_p }}
            <button type="submit"><i class="fa-solid fa-plus"></i> Enregistrer</button>
        </form>
    {% else %}
        <a class="ajtBtn" href="{% url 'notifier'%}"><i class="fa-regular fa-bell"></i> Notifier</a>
    {% endif %}

    <div>
        <table>
            <thead>
                <tr>
                    <th> ID notification </th>
                    <th> Date notification </th>
                    <th> Type </th>
                    <th> Content </th>
                    <th> Action </th>
                </tr>
            </thead>
            <tbody>
                {%for notification in notifications%}
                <tr>
                    <td>{{notification.id_notification}} </td> 
                    <td>{{notification.date_notif}} {{notification.date_notif}}</td> 
                    <td>{{notification.type}}  </td> 
                    <td>{% if  notification.content %} {{notification.content}}  {% endif %}</td> 
                    <td class="actions">
                        <a href="{% url  'supp_notification' notification.id_notification%}"><i class="fa-solid fa-trash" style="margin-right: 5px;"></i>Supprimer</a>
                        <a href="{% url  'modif_notification' notification.id_notification%}"><i class="fa-solid fa-pen-to-square" style="margin-right: 5px;"></i>Editer</a>
                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>


</div>
{% endblock main %}


    