{% extends 'admin_pages/base.html' %}
{% block title %} Notifications {% endblock title %}
{% block main %}
<div class="container">
    <h1>administration ville</h1>
    <div>
        <table>
            <thead>
                <tr>
                    <th> ID notification </th>
                    <th> Date notification </th>
                    <th> Type </th>
                    <th> Content </th>
                </tr>
            </thead>
            <tbody>
                {%for notification in notifications%}
                <tr>
                    <td>{{notification.id_notification}} </td> 
                    <td>{{notification.date_notif}} {{notification.date_notif}}</td> 
                    <td>{{notification.type}}  </td> 
                    <td>{% if  notification.content %} {{notification.content}}  {% endif %}</td> 
                    <td><button><a href="{% url  'supp_notification' notification.id_notification%}">Supprimer</a></button><button><a href="{% url  'modif_notification' notification.id_notification%}"> Editer</a></button></td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>

{% if form_modif %}
    <form action="{% url 'modif_notification' curr_notifications.id_notification%}" method="POST">
        {% csrf_token %}
        {{ form_modif.as_p }}
        <button type="submit">Enregistré</button>
    </form>
  
{% elif form_notifier %}
    <form action="{% url 'notifier'%}" method="POST">
        {% csrf_token %}
        {{ form_notifier.as_p }}
        <button type="submit">Enregistrer</button>
    </form>
{% else %}
    <button type="submit"><a href="{% url 'notifier'%}">Notifier</a></button>

{% endif %}
</div>
{% endblock main %}


    