{% extends 'admin_pages/base.html' %}
{% block title %} Notifications {% endblock title %}
{% block main %}
    <h1>administration ville</h1>
    <div>
        <table border = 1>
            <thead>
                <tr>
                    <th> ID notification </th>
                    <th> Date notification </th>
                    <th> Type </th>
                </tr>
            </thead>
            <tbody>
                {%for notification in notifications%}
                <tr>
                    <td>{{notification.id_notification}} </td> 
                    <td>{{notification.date_notif}} {{notification.date_notif}}</td> 
                    <td>{{notification.type}}  </td> 
                    <td><button>Supprimer</button><button>Editer</button></td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
    <form action="{% url 'notifications_gestion' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">ajouter</button>
    </form>
{% endblock main %}