{% extends 'admin_pages/base.html' %}
{% block title %} pays {% endblock title %}
{% block main %}
<div class="container">
    <h1>administration pays</h1>
    <div>
        <table>
            <thead>
                <tr>
                    <th> ID Pays </th>
                    <th> Nom Pays </th>
                    <th> Actions </th>
                </tr>
            </thead>
            <tbody>
                {%for p in pays%}
                <tr>
                    <td>{{p.id_pays}} </td> 
                    <td>{{p.nom_pays}} </td> 
                    <td class="actions">
                        <a href="{% url 'modif_pays' p.id_pays%}">editer</a>
                        <a href="{% url 'supp_pays' p.id_pays%}">supprimer</a>
                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if messageSupp %}
    <p style="color: red;">{{ messageSupp }}</p>
{% endif %}
{% if messageEdit %}
    <p style="color: green;">{{ messageEdit }}</p>
{% endif %}

{% if form_modif %}
    <form action="{% url 'modif_pays' pays.id_pays%}" method="POST">
        {% csrf_token %}
        {{ form_modif.as_p }}
        <button type="submit">Enregistré</button>
    </form>
  
{% elif form_ajout %}
<form action="{% url 'ajout_pays'%}" method="POST">
    {% csrf_token %}
    {{ form_ajout.as_p }}
    <button type="submit">Enregistré</button>
</form>
{% else %}
    <button type="submit"><a href="{% url 'ajout_pays'%}">ajouter</a></button>
{% endif %}
</div>
{% endblock main %}