{% extends 'admin_pages/base.html' %}
{% block title %} Ville {% endblock title %}
{% block main %}
<div class="container">
    <h1>administration ville</h1>
    <div>
        <table>
            <thead>
                <tr>
                    <th> ID ville </th>
                    <th> Nom ville </th>
                    <th> Nom Pays </th>
                    <th> Actions </th>
                </tr>
            </thead>
            <tbody>
                {%for v in villes%}
                <tr>
                    <td>{{v.id_ville}} </td> 
                    <td>{{v.nom_ville}} </td> 
                    <td>{{v.id_pays.nom_pays}} </td> 
                    <td class="actions">
                        <a href="{% url 'supp_ville' v.id_ville%}">supprimer</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% if messageSupp %}
    <p style="color: red;">{{ messageSupp }}</p>
{% endif %}
{% if messageEdit %}
    <p style="color: green;">{{ messageEdit }}</p>
{% endif %}

{% if form_modif %}
    <form action="{% url 'modif_ville' ville.id_ville%}" method="POST">
        {% csrf_token %}
        {{ form_modif.as_p }}
        <button type="submit">Enregistré</button>
    </form>
  
{% elif form_ajout %}
<form action="{% url 'ajout_ville'%}" method="POST">
    {% csrf_token %}
    {{ form_ajout.as_p }}
    <button type="submit">Enregistré</button>
</form>
{% else %}
    <button type="submit"><a href="{% url 'ajout_ville'%}">ajouter</a></button>
{% endif %}
</div>
{% endblock main %}