{% extends 'admin_pages/base.html' %}
{% block title %} Vols {% endblock title %}
{% block main_menu_link_class6 %}
    class="active"
{% endblock main_menu_link_class6 %}
{% block main %}
<div class="container">
    <h1>administration vols</h1>

    {% if messageSupp %}
    <p style="color: red;">{{ messageSupp }}</p>
    {% endif %}
    {% if messageEdit %}
        <p style="color: green;">{{ messageEdit }}</p>
    {% endif %}

    {% if form_modif %}
        <form action="{% url 'modif_vol' vol.id_vol%}" method="POST" onsubmit="return validateDates()">
            {% csrf_token %}
            <p>
                <label for="{{ form_modif.id_vol.id_for_label }}">Vol ID :</label>
                <input type="text" name="id_vol" value="{{ form_modif.id_vol.value }}">
            </p>
            <p>
                <label for="{{ form_modif.date_d_vol.id_for_label }}">Date debut vol :</label>
                <input type="date" name="{{ form_modif.date_d_vol.name }}" id="{{ form_modif.date_d_vol.id }}" value="{{ form_modif.date_d_vol.value|date:'Y-m-d' }}" />
            </p>
            <p>
                <label for="{{ form_modif.date_f_vol.id_for_label }}">Date fin vol :</label>
                <input type="date" name="{{ form_modif.date_f_vol.name }}" id="{{ form_modif.date_f_vol.id }}" value="{{ form_modif.date_f_vol.value|date:'Y-m-d' }}" />
            </p>
            <p>
                <label for="{{ form_modif.prix_vol.id_for_label }}">Prix du vol :</label>
                {{ form_modif.prix_vol }}
            </p>
            <button type="submit"><i class="fa-solid fa-check"></i> Enregistrer</button>
        </form>
    
    {% elif form_ajout %}
    <form action="{% url 'ajout_vol'%}" method="POST" onsubmit="return validateDates()">
        {% csrf_token %}
        {{ form_ajout.as_p }}
        <button type="submit"><i class="fa-solid fa-check"></i> Enregistrer</button>
    </form>
    {% else %}
        <a class="ajtBtn" href="{% url 'ajout_vol'%}"><i class="fa-solid fa-plus"></i> Ajouter vol</a>
    {% endif %}

    <div>
        <table>
            <thead>
                <tr>
                    <th> ID Vol </th>
                    <th> Date debut </th>
                    <th> Date fin </th>
                    <th> Prix </th>
                    <th> Actions </th>
                </tr>
            </thead>
            <tbody>
                {%for vol in vols%}
                <tr>
                    <td>{{vol.id_vol}} </td> 
                    <td>{{vol.date_d_vol}} </td> 
                    <td>{{vol.date_f_vol}} </td> 
                    <td>{{vol.prix_vol}} </td> 
                    <td class="actions">
                        <a href="{% url 'supp_vol' vol.id_vol%}"><i class="fa-solid fa-trash" style="margin-right: 5px;"></i>Supprimer</a>
                        <a href="{% url 'modif_vol' vol.id_vol%}"><i class="fa-solid fa-pen-to-square" style="margin-right: 5px;"></i>Modifier</a>
                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock main %}
{% block js_block %}
<script>
    function validateDates() {
        var startDate = document.getElementById('id_date_d_vol').value;
        var endDate = document.getElementById('id_date_f_vol').value;

        var start = new Date(startDate);
        var end = new Date(endDate);

        if (start > end) {
            alert('La date de début ne peut pas être supérieure à la date de fin.');
            return false;
        }
        return true;
    }
</script>

{% endblock js_block %}