{% extends 'admin_pages/base.html' %}
{% block title %} voyages {% endblock title %}
{% block main %}
<div class="container">
    <h1>administration voyages</h1>
    <div>
        <table>
            <thead>
                <tr>
                    <th> ID voyage </th>
                    <th> Titre voyage </th>
                    <th> Prix </th>
                    <th> Duree </th>
                    <th> Transport </th>
                    <th> ID hotel </th>
                    <th> Nom hotel </th>
                    <th> ID Promotion </th>
                    <th> Promotion valeur </th>
                    <th> Categorie </th>
                    <th> Action </th>
                </tr>
            </thead>
            <tbody>
                {%for voyage in voyages%}
                <tr>
                    <td>{{voyage.id_voyage}} </td> 
                    <td>{{voyage.titre_voyage}} </td> 
                    <td>{{voyage.prix_voyage}} </td> 
                    <td>{{voyage.duree_voyage}} </td> 
                    <td>{{voyage.transport}} </td> 
                    <td>{{voyage.id_hotel.id_hotel}} </td> 
                    <td>{{voyage.id_hotel.nom_hotel}} </td> 
                    <td>{{voyage.id_promotion.id_promotion}} </td> 
                    <td>{{voyage.id_promotion.pourcentage}} </td> 
                    <td>{{voyage.id_categorie.nom_categorie}} </td> 
                    <td class="actions">
                        <a href="{% url 'supp_voyage' voyage.id_voyage%}">Supprimer</a>
                        <a href="{% url 'modif_voyage' voyage.id_voyage%}"> Modifier</a>
                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
{% if messageSupp %}
    <p style="color: red;">{{ messageSupp }}</p>
{% endif %}
{% if messageEdit %}
    <p style="color: green;">{{ messageEdit }}</p>
{% endif %}

{% if form_modif %}
    <form action="{% url 'modif_voyage' voyage.id_voyage%}" method="POST">
        {% csrf_token %}
        {{ form_modif.as_p }}
        <button type="submit">Enregistré</button>
    </form>


{% elif form_ajout %}
    <form action="{% url 'ajout_voyage'%}" method="POST">
        {% csrf_token %}
        {{ form_ajout.as_p }}
        <button type="submit">Enregistré</button>
    </form>

{% else %}
<button type="submit"><a href="{% url 'ajout_voyage'%}">ajouter</a></button>

{% endif %}
    
</div>
{% endblock main %}