{% extends 'app/templates/base.html' %}
{% load static %}
{% block url_1_class %} active {% endblock url_1_class %}
{% block title %} Home {% endblock %}
{% block block_css %}
    <style>
        header {
            background-color: rgb(100, 100, 100, 0.3);
            backdrop-filter: blur(20px);
        }
        .search input {
            border: 1px solid var(--second-underline);
            background-color: rgb(100, 100, 100, 0.3);
            backdrop-filter: blur(20px);
        }
        header .inner1 .log {
            color: rgb(255, 255, 255);
        }
        header .inner2 ul li a.active::before {
            background-color: rgb(255, 255, 255);
        }
        header .inner2 ul li a:not(.active):hover {
            color: rgb(255, 255, 255);
        }
        header .inner2 ul li a:hover::before {
            background-color: rgb(255, 255, 255);
        }
        
        header .inner2 ul li a.active {
            color: rgba(255, 255, 255);
        }        
        .search input::placeholder {
            color: #fff;
        }
        body .container {
            background: linear-gradient(90deg, #000000d3, rgba(0, 0, 0, 0.448)), url('{% static "assets/background-home.jpg" %}') center/cover;
            height: 700px;
            position: relative;
        }
        body .container h1 {
            background-color: red;
        }
    </style>
{% endblock block_css %}
{% block menu_per_log_case %}
    {% if request.session.code_session %}
        <div class="log" id="LogMenuButton">
            <i class="fa-solid fa-bars"></i>
            <img src="{% static 'assets/profile_imgs/' %}{{ utilisateur.path_img_profile }}">
            <div class="menu hide" id="LogMenu">
                <ul>
                    <li><a href="{% url 'profile' request.session.code_session %}">Profile</a></li>
                    <li><a href="{% url 'logout' %}">Déconnexion</a></li>
                    <li><a href="#">Cartes cadeaux</a></li>
                    <li><a href="#">Centre d'aide</a></li>
                </ul>
            </div>
        </div>
    {% else %}
        <div class="log" id="LogMenuButton">
            <i class="fa-solid fa-bars"></i>
            <i class="fa-solid fa-circle-user"></i>
            <div class="menu hide" id="LogMenu">
                <ul>
                    <li><a href="{% url 'registration' %}">Inscription</a></li>
                    <li><a href="#" onclick="document.getElementById('login-form-modal').style.display='block'">Connexion</a></li>
                    <li><a href="#">Cartes cadeaux</a></li>
                    <li><a href="#">Centre d'aide</a></li>
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock menu_per_log_case %}
{% block main %}
    <section class="first">
        <h2>VOTRE AGENCE DE VOYAGE EN LIGNE</h2>
        <h1>Voyager <span>le monde</span></h1>

        <div class="services-cards">
            <div class="card">
                <div class="icon">
                    <img src="{% static "assets/secured-payment.png" %}" alt="services-message">
                </div>
                <p class="text">
                    Paiement Securisé
                </p>
            </div>
            <div class="card">
                <div class="icon">
                    <img src="{% static "assets/bill_repo.png" %}" alt="services-message">
                </div>
                <p class="text">
                    0 Dhs Frais De Dossier
                </p>
            </div>
            <div class="card">
                <div class="icon">
                    <img src="{% static "assets/price-tag.png" %}" alt="services-message">
                </div>
                <p class="text">
                    Meilleurs Tarifs Garanties
                </p>
            </div>
            <div class="card">
                <div class="icon">
                    <img src="{% static "assets/24-hours.png" %}" alt="services-message">
                </div>
                <p class="text">
                    Assistance 24H/24
                </p>
            </div>
        </div>
    </section>
    <section class="second">
        {% if request.session.code_session %}
        <p>Welcome, user {{ request.session.user_id }}!</p>
        {% else %}
            <p>Guest user. Please log in to access more features.</p>
        {% endif %}

        nothing
        <br><br><br><br><br><br><br><br><br><br>
        nothing
        <br><br><br><br><br><br><br><br><br><br>
        nothing
        <br><br><br><br><br><br><br><br><br><br>
        nothing
        <br><br><br><br><br><br><br><br><br><br>
        nothing
        <br><br><br><br><br><br><br><br><br><br>
        nothing
        <br><br><br><br><br><br><br><br><br><br>
        nothing
    </section>
{% endblock %}
{% block js_block %} 
    <script src="{% static 'js/home.js' %}" type="text/javascript"></script>
{% endblock %}

