{% extends 'app/templates/base.html' %}
{% load static %}
{% block url_1_class %} active {% endblock url_1_class %}
{% block title %} Home {% endblock %}
{% block block_css %}
    <style>
        header {
            background-color: rgb(100, 100, 100, 0.3);
            backdrop-filter: blur(20px);
        }
        .search input {
            border: 1px solid var(--second-underline);
            background-color: rgb(100, 100, 100, 0.3);
            backdrop-filter: blur(20px);
        }
        header .inner1 .log {
            color: rgb(255, 255, 255);
        }
        header .inner2 ul li a.active::before {
            background-color: rgb(255, 255, 255);
        }
        header .inner2 ul li a:not(.active):hover {
            color: rgb(255, 255, 255);
        }
        header .inner2 ul li a:hover::before {
            background-color: rgb(255, 255, 255);
        }
        
        header .inner2 ul li a.active {
            color: rgba(255, 255, 255);
        }        
        .search input::placeholder {
            color: #fff;
        }
        body .container {
            background: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('{% static "assets/background-home.jpg" %}') center/cover;
            height: 700px;
            position: relative;
        }
        body .container h1 {
            background-color: red;
        }
        .inner1 .fa-bell {
            color: #000; 
            font-size: 1.5rem;
        }
        
    </style>
{% endblock block_css %}
{% block bell_notif %}
<i class="fa-solid fa-bell">{% if notifications.count > 0 %}<span></span>{% endif %}</i>
<div class="user-notifications" id="user-notifications">
    <ul>
        {% for notification in notifications %}
            <li class="{{ notification.id_notification.type }}">
                <span class="content">{{ notification.id_notification.content}}</span>
                <span class="temp">{{ notification.id_notification.date_notif }} {{ notification.id_notification.heure_d_notif}}</span>
            </li>
        {% endfor %}
        {% if notifications.count == 0 %}
            <li>
                <span class="content">0 notifications</span>
            </li>
        {% endif %}
    </ul>
</div>
{% endblock bell_notif %}
{% block menu_per_log_case %}
    {% if request.session.code_session %}
        <div class="log" id="LogMenuButton">
            <i class="fa-solid fa-bars"></i>
            <img src="{% static 'assets/profile_imgs/' %}{{ utilisateur.path_img_profile }}">
            <div class="menu hide" id="LogMenu">
                <ul>
                    <li><a href="{% url 'profile' request.session.code_session %}">Profile</a></li>
                    <li><a href="{% url 'logout' %}">Déconnexion</a></li>
                    <li><a href="#">Cartes cadeaux</a></li>
                    <li><a href="#">Centre d'aide</a></li>
                </ul>
            </div>
        </div>
    {% else %}
        <div class="log" id="LogMenuButton">
            <i class="fa-solid fa-bars"></i>
            <i class="fa-solid fa-circle-user"></i>
            <div class="menu" id="LogMenu">
                <ul>
                    <li><a href="{% url 'registration' %}">Inscription</a></li>
                    <li><a href="#" onclick="document.getElementById('login-form-modal').style.display='block'">Connexion</a></li>
                    <li><a href="#">Cartes cadeaux</a></li>
                    <li><a href="#">Centre d'aide</a></li>
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock menu_per_log_case %}
{% block main %}
    <section class="first">
        <h2>VOTRE AGENCE DE VOYAGE EN LIGNE</h2>
        <h1>Voyager <span>le monde</span></h1>

        <div class="services-cards">
            <div class="card">
                <div class="icon">
                    <img src="{% static "assets/secured-payment.png" %}" alt="services-message">
                </div>
                <p class="text">
                    Paiement Securisé
                </p>
            </div>
            <div class="card">
                <div class="icon">
                    <img src="{% static "assets/bill_repo.png" %}" alt="services-message">
                </div>
                <p class="text">
                    0 Dhs Frais De Dossier
                </p>
            </div>
            <div class="card">
                <div class="icon">
                    <img src="{% static "assets/price-tag.png" %}" alt="services-message">
                </div>
                <p class="text">
                    Meilleurs Tarifs Garanties
                </p>
            </div>
            <div class="card">
                <div class="icon">
                    <img src="{% static "assets/24-hours.png" %}" alt="services-message">
                </div>
                <p class="text">
                    Assistance 24H/24
                </p>
            </div>
        </div>
    </section>
    <section class="second">
        <h2>Bienvenue chez TravelMor</h2>
        <p>Découvrez le monde avec TravelMor, votre partenaire ultime pour des voyages inoubliables. Que vous soyez à la recherche d'aventures exotiques, de détente sur des plages de rêve ou d'exploration culturelle, nous avons le voyage parfait pour vous.</p>

        <h3>Pourquoi choisir TravelMor?</h3>
        <p>À TravelMor, nous sommes passionnés par la création d'expériences de voyage exceptionnelles. Notre équipe dévouée est là pour vous aider à planifier chaque détail de votre voyage, du choix de la destination aux activités sur place.</p>

        <h3>Destinations Captivantes</h3>
        <p>Explorez nos destinations exceptionnelles soigneusement sélectionnées, allant des métropoles animées aux destinations exotiques. Chaque endroit que nous proposons promet une aventure unique et mémorable.</p>

        <h3>Offres Spéciales</h3>
        <p>Découvrez nos offres spéciales et forfaits exclusifs. Que vous recherchiez une escapade romantique, des vacances en famille ou une aventure solo, nous avons des offres qui répondent à toutes vos envies.</p>

        <h3>Contactez-nous</h3>
        <p>Prêt à commencer votre prochaine aventure? Contactez notre équipe dès aujourd'hui. Nous sommes là pour répondre à toutes vos questions et vous aider à planifier le voyage de vos rêves.</p>
    </section>
{% endblock %}
{% block js_block %} 
    <script src="{% static 'js/home.js' %}" type="text/javascript"></script>
{% endblock %}

