{% extends 'base.html' %} {% load static %} 
{% block url_8_class %}
active
{% endblock url_8_class %} 
{% block title %} hotel details - {{ hotel }} {% endblock title %} {% block block_css %}
<link rel="stylesheet" href="{% static 'css/detailed_card.css' %}" />
<style>
  .container {
    background-color: rgb(255, 255, 255);
  }
  .inner1 .fa-bell {
      color: #000; 
      font-size: 1.5rem;
  }
</style>
{% block bell_notif %}
<i class="fa-solid fa-bell"><span></span></i>
{% endblock bell_notif %}
{% endblock block_css %}
{% block menu_per_log_case %}
    {% if request.session.code_session %}
        <div class="log" id="LogMenuButton">
            <i class="fa-solid fa-bars"></i>
            <img src="{% static 'assets/profile_imgs/' %}{{ utilisateur.path_img_profile }}">
            <div class="menu hide" id="LogMenu">
                <ul>
                    <li><a href="{% url 'profile' request.session.code_session %}">Profile</a></li>
                    <li><a href="{% url 'logout' %}">Déconnexion</a></li>
                    <li><a href="#">Cartes cadeaux</a></li>
                    <li><a href="#">Centre d'aide</a></li>
                </ul>
            </div>
        </div>
    {% else %}
        <div class="log" id="LogMenuButton">
            <i class="fa-solid fa-bars"></i>
            <i class="fa-solid fa-circle-user"></i>
            <div class="menu hide" id="LogMenu">
                <ul>
                    <li><a href="{% url 'registration' %}">Inscription</a></li>
                    <li><a href="#" onclick="document.getElementById('login-form-modal').style.display='block'">Connexion</a></li>
                    <li><a href="#">Cartes cadeaux</a></li>
                    <li><a href="#">Centre d'aide</a></li>
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock menu_per_log_case %}
{% block main %}
<div class="inner-container">
  <h4 style="text-align: center">Les details de cet hotel :</h4>
  {% for hotel in hotel %}
  <div class="detailed-card-voyage">
    <div class="accordion">
      <div class="image-box">
        {% for image in hotel.imagehotel_set.all %}
        <div class="mySlides">
          <div class="numbertext">
            {{ forloop.counter }} / {{ hotel.imageshotel_set.count }}
          </div>
          <img
            src="{% static 'assets/hotels/' %}{{ image.id_images.path_image }}"
            style="width: 100%"
            alt="{{image.id_images.path_image}}"
          />
        </div>
        {% endfor %}

        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>
      </div>
      <div class="caption-container">
        <p id="caption"></p>
      </div>

      <div class="row">
        {% for image in hotel.imagehotel_set.all %}
        <div class="column">
          <img
            class="demo cursor"
            src="{% static 'assets/hotels/' %}{{ image.id_images.path_image }}"
            style="width: 100%"
            onclick="currentSlide({{ forloop.counter }})"
            alt="{{ image.id_images.path_image }}"
          />
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="body">
      <span class="title">{{ hotel.titre_hotel }}</span>
      <span class="localisation"
        ><i class="fa-solid fa-location-dot"></i> {{ hotel.id_pays.nom_pays }}, {{ hotel.nom_hotel }}</span
      >
      <span class="price"
        >à partir de
        <span>{{ hotel.prix_hotel }} Dhs par personne</span></span
      >
      <span class="rating"
        >Durée:
        <span
          >{{ hotel.duree_hotel }} jours / {{ hotel.duree_hotel|add:"-1" }} nuits</span
        ></span
      >
      <form
        method="get"
        action="# {{ hotel }}"
      >
        <button type="submit">J'en profite</button>
      </form>
    </div>
  </div>
  {% endfor %}
{% endblock main %} {% block js_block %}
<script defer src="{% static 'js/detailed_card.js' %}"></script>
{% endblock js_block %}
