{% extends 'base.html' %}
{% load static %}
{% block title %} Profile {% endblock title %} 
{% block block_css %}
<link rel="stylesheet" href="{% static "css/profile.css" %}">
<link rel="stylesheet" href="{% static "css/card.css" %}">
<style>
.mini-card-voyage {
    width: 400px;
    height: 250px;
    border-radius: var(--main-border-radius);
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 62px -4px rgba(195, 195, 195, 1);
    -webkit-box-shadow: 0px 0px 62px -4px rgba(195, 195, 195, 1);
    -moz-box-shadow: 0px 0px 62px -4px rgba(195, 195, 195, 1);
    overflow: hidden;
    transition: box-shadow .5s ease;
}
</style>
{% endblock block_css %} 
{% block bell_notif %}
<i class="fa-solid fa-bell">{% if notifications.count > 0 %}<span></span>{% endif %}</i>
<div class="user-notifications" id="user-notifications">
    <ul>
        {% for notification in notifications %}
            <li class="{{ notification.id_notification.type }}">
                <span class="content">{{ notification.id_notification.content}}</span>
                <span class="temp">{{ notification.id_notification.date_notif }} {{ notification.id_notification.heure_d_notif}}</span>
            </li>
        {% endfor %}
        {% if notifications.count == 0 %}
            <li>
                <span class="content">0 notifications</span>
            </li>
        {% endif %}
    </ul>
</div>
<div class="reservations">
  <div style="position: absolute; width: 100%;">
    <i id="hideReservations" class="fa-solid fa-xmark"></i>
  </div>
  <ul>
  {% for reservation in reservations  %}
    <li>
      <div>
        <span>Voyage : </span>{{ reservation.id_voyage.titre_voyage}}
      </div>
      <div>
        <span>Prix : </span>{{ reservation.id_voyage.prix_voyage}}
      </div>
      <div><span>Date debut vol : </span>{{ reservation.id_vol.date_d_vol}}</div>
      <div><span>Date fin vol : </span>{{ reservation.id_vol.date_f_vol}}</div>
    </li>
  {% endfor %}  
  {% if reservations.count == 0 %}
      <li>
          <span class="content">0 reservations</span>
      </li>
  {% endif %}

  </ul>
</div>
{% endblock bell_notif %}
{% block menu_per_log_case %} 
{% if request.session.code_session %}
<div class="log" id="LogMenuButton">
  <i class="fa-solid fa-bars"></i>
  <img
    src="{% static 'assets/profile_imgs/' %}{{ utilisateur.path_img_profile }}"
  />
  <div class="menu hide" id="LogMenu">
    <ul>
      <li>
        <a href="{% url 'profile' request.session.code_session %}">Profile</a>
      </li>
      <li><a href="{% url 'logout' %}">Deconnexion</a></li>
      <li><a href="#" id="reservationsButton">Mes reservations</a></li>
      <li><a href="#">Cartes cadeaux</a></li>
      <li><a href="#">Centre d'aide</a></li>
    </ul>
  </div>
</div>
{% else %}
<div class="log" id="LogMenuButton">
  <i class="fa-solid fa-bars"></i>
  <i class="fa-solid fa-circle-user"></i>
  <div class="menu" id="LogMenu">
    <ul>
      <li><a href="{% url 'registration' %}">Inscription</a></li>
      <li>
        <a
          href="#"
          onclick="document.getElementById('login-form-modal').style.display='block'"
          >Connexion</a
        >
      </li>
      <li><a href="#">Cartes cadeaux</a></li>
      <li><a href="#">Centre d'aide</a></li>
    </ul>
  </div>
</div>
{% endif %} {% endblock menu_per_log_case %} {% block main %}
<form action="{% url 'profile' utilisateur.id_utilisateur %}" method="post" class="profile-container">
  {% csrf_token %}
    <div class="profile-info">
        <div class="profile-card">
            <h1>Profile utilisateur</h1>
            <img
                src="{% static 'assets/profile_imgs/' %}{{ utilisateur.path_img_profile }}"
                alt="Profile Image"
            />
            <p><input type="text" name="nom" value="{{ utilisateur.nom }}"><input type="text" name="prenom" value="{{ utilisateur.prenom }}"></p>
            <h2>{{ utilisateur.nom }} {{ utilisateur.prenom }}<i class="fa-solid fa-pen" onclick="toggleUpdate()"></i></h2>
            <p><input type="text" name="nom_utilisateur" value="{{ utilisateur.nom_utilisateur }}"></p>
            <p><span>@{{ utilisateur.nom_utilisateur }}</span><i class="fa-solid fa-pen" onclick="toggleUpdate()"></i></p>
            <p><input type="text" name="email" value="{{ utilisateur.email }}"></p>
            <p><span>{{ utilisateur.email }}</span><i class="fa-solid fa-pen" onclick="toggleUpdate()"></i></p>
            <p><input type="text" name="num_telephone" value="{{ utilisateur.num_telephone }}"></p>
            <p><span>{{ utilisateur.num_telephone }}</span><i class="fa-solid fa-pen" onclick="toggleUpdate()"></i></p>
            <ul>
                <li>
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                </li>
                <li>
                <a href="#"> <i class="fa-brands fa-twitter"></i></a>
                </li>
                <li>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </li>
                <li>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                </li>
                <li>
                <a href="{% url 'home' %}"><i class="fa-solid fa-reply"></i></a>
                </li>
            </ul>
            <button>Mise a jour les informations</button>
        </div>
  </div>
</form>

<section class="second">
  <h1>Mes favoris</h1>
  <form id="filterForm">
      <label for="locationFilter">Filtrer par localisation:</label>
      <input type="text" id="locationFilter" name="locationFilter" placeholder="Entrer une localisation">
      <button type="button" id="filterFormId">Filtrer</button>
  </form>
  {% for fav_voyage in favorite_voyages %}
      <div class="mini-card-voyage filterable">
          <div class="body">
              <div class="title-localisation">
                  <span class="title">{{ fav_voyage.id_voyage.titre_voyage }}</span>
              </div>
              <span class="price"><img src="{% static 'assets/background-pricing.png' %}" alt="background-pricing">Prix: <span>{{ fav_voyage.id_voyage.prix_voyage }} Dhs</span></span>
              <span class="nom-hotel">Nom hotel: <span>{{ fav_voyage.id_voyage.id_hotel.nom_hotel }}</span></span>
              <span class="rating">Durée: <span>{{ fav_voyage.id_voyage.duree_voyage }} jours / {{ fav_voyage.id_voyage.duree_voyage|add:"-1" }} nuits</span></span>
              {% if fav_voyage.id_voyage.id_promotion.pourcentage > 0 %}
                <span class="percentage">Sous promotion: <span>{{ fav_voyage.id_voyage.id_promotion.pourcentage }} %</span></span>
              {% endif %}
              <form method="get" action="{% url 'promotions_details' fav_voyage.id_voyage.id_voyage %}">
                  <button type="submit"><i class="fa-solid fa-angles-right">&nbsp;&nbsp;</i>Details</button>
              </form>
          </div>
      </div>
  {% endfor %}
  {% if favorite_voyages.count == 0 %}
    <p>
      Aucun favori pour le moment.
    </p>
  {% endif %}
</section>
{% endblock main %}
{% block js_block %}
<script src="{% static "js/formFilter.js" %}" type='text/javascript'></script>

<script defer>
    const formInputs = document.querySelectorAll('form input');
    const formh2 = document.querySelector('.profile-card h2');
    const formPSpans = document.querySelectorAll('form p span');
    const formSubmit = document.querySelector('.profile-card button');
    function toggleUpdate() {
        formInputs.forEach(formInput => {
            formInput.style.display = 'block';
        });
        formPSpans.forEach(formPSpan => {
            formPSpan.style.display = 'none';
        });
        formSubmit.style.display = 'block';
        formh2.style.display = 'none';
    }
</script>
<script>
  button = document.getElementById('reservationsButton');
  
  button.addEventListener('click', function() {
    document.querySelector('.reservations').style.top = '75px';
});

document.getElementById('hideReservations').addEventListener('click', function() {
    document.querySelector('.reservations').style.top = '-300px';
});

</script>
{% endblock js_block %}

