{% extends 'app/templates/base.html' %}
{% load static %}
{% block title %} User Profile {% endblock title %}
{% block block_css %}
<style>
    header .inner2 {
        display: none;
    }

    .profile-container {
        max-width: 600px;
        margin: 100px auto;
        padding: 20px;
        background-color: #f8f8f8;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .profile-info {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .profile-item {
        background-color: #fff;
        padding: 10px;
        border-radius: 4px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    img {
        max-width: 100%;
        height: auto;
    }

</style>
{% endblock block_css %}
{% block menu_per_log_case %}
    {% if request.session.code_session %}
        <div class="log" id="LogMenuButton">
            <i class="fa-solid fa-bars"></i>
            <img src="{% static 'assets/profile_imgs/' %}{{ utilisateur.path_img_profile }}">
            <div class="menu hide" id="LogMenu">
                <ul>
                    <li><a href="{% url 'profile' request.session.code_session %}">Profile</a></li>
                    <li><a href="{% url 'logout' %}">Deconnexion</a></li>
                    <li><a href="#">Cartes cadeaux</a></li>
                    <li><a href="#">Centre d'aide</a></li>
                </ul>
            </div>
        </div>
    {% else %}
        <div class="log" id="LogMenuButton">
            <i class="fa-solid fa-bars"></i>
            <i class="fa-solid fa-circle-user"></i>
            <div class="menu hide" id="LogMenu">
                <ul>
                    <li><a href="{% url 'registration' %}">Inscription</a></li>
                    <li><a href="#" onclick="document.getElementById('login-form-modal').style.display='block'">Connexion</a></li>
                    <li><a href="#">Cartes cadeaux</a></li>
                    <li><a href="#">Centre d'aide</a></li>
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock menu_per_log_case %}

{% block main %}
    <div class="profile-container">
        <h1>User Profile</h1>
        <div class="profile-info">
            <div class="profile-item">
                <strong>Nom:</strong> {{ utilisateur.nom }}
            </div>
            <div class="profile-item">
                <strong>Prenom:</strong> {{ utilisateur.prenom }}
            </div>
            <div class="profile-item">
                <strong>Admin:</strong> {% if utilisateur.est_admin %} Yes {% else %} No {% endif %}
            </div>
            <div class="profile-item">
                <strong>Email:</strong> {{ utilisateur.email }}
            </div>
            <div class="profile-item">
                <strong>Numéro de téléphone:</strong> {{ utilisateur.num_telephone }}
            </div>
            <div class="profile-item">
                <strong>Image Profile:</strong>
                <img src="{% static 'assets/profile_imgs/' %}{{ utilisateur.path_img_profile }}" alt="Profile Image" />
            </div>
            <div class="profile-item">
                <strong>Hotel:</strong> {{ utilisateur.id_hotel.nom_hotel }}
            </div>
        </div>
    </div>
{% endblock main %}
