{% extends "base.html" %}
{% load static %}
{% block url_3_class %} active {% endblock url_3_class %}
{% block title %} voyage-organise {% endblock title %}
{% block block_css %}
<link rel="stylesheet" href="{% static 'css/card.css' %}">
{% endblock block_css %}
{% block menu_per_log_case %}
    {% if request.session.code_session %}
        <div class="log" id="LogMenuButton">
            <i class="fa-solid fa-bars"></i>
            <img src="{% static 'assets/profile_imgs/' %}{{ utilisateur.path_img_profile }}">
            <div class="menu hide" id="LogMenu">
                <ul>
                    <li><a href="{% url 'profile' request.session.code_session %}">Profile</a></li>
                    <li><a href="{% url 'logout' %}">Déconnexion</a></li>
                    <li><a href="#">Cartes cadeaux</a></li>
                    <li><a href="#">Centre d'aide</a></li>
                </ul>
            </div>
        </div>
    {% else %}
        <div class="log" id="LogMenuButton">
            <i class="fa-solid fa-bars"></i>
            <i class="fa-solid fa-circle-user"></i>
            <div class="menu hide" id="LogMenu">
                <ul>
                    <li><a href="{% url 'registration' %}">Inscription</a></li>
                    <li><a href="#" onclick="document.getElementById('login-form-modal').style.display='block'">Connexion</a></li>
                    <li><a href="#">Cartes cadeaux</a></li>
                    <li><a href="#">Centre d'aide</a></li>
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock menu_per_log_case %}
{% block main %}

<section class="second">
    {% for avoir_instance in query %}
        {% if avoir_instance.id_voyage.id_categorie.nom_categorie == "special_turquie"%} 
    <div class="mini-card-voyage">
        <div class="image">
            <img src="{% static "assets/cities/"%}{{ avoir_instance.id_ville.imageville_set.first.id_images.path_image }}" alt="">
            <span class="reaction">
                <img class="heart" src="{% static "assets/like-empty.svg" %}" data-voyage="{{ avoir_instance.id_voyage.id_voyage }}" id="{{ avoir_instance.id_voyage.id_voyage }}" onclick="toggleLike(this)">
                <form>
                    {% csrf_token %}
                    <input type="hidden" name="id_user" value=1>
                    <input type="hidden" name="id_voyage" value={{ avoir_instance.id_voyage.id_voyage }}>
                    <input type="hidden" name="inputLike" value="#">
                </form>
            </span>
        </div>
        <div class="body">
            <div class="title-localisation">
                <span class="title">{{ avoir_instance.id_voyage.titre_voyage }}</span>
                <span class="localisation"><i class="fa-solid fa-location-dot"></i>{{ avoir_instance.id_ville.id_pays.nom_pays }}, {{ avoir_instance.id_ville.nom_ville }}</span>
            </div>
            <span class="price"><img src="{% static 'assets/background-pricing.png' %}" alt="background-pricing">Prix: <span>{{ avoir_instance.id_voyage.prix_voyage }} Dhs</span></span>
            <span class="nom-hotel">Nom hotel: <span>{{ avoir_instance.id_voyage.id_hotel.nom_hotel }}</span></span>
            <span class="rating">Durée: <span>{{ avoir_instance.id_voyage.duree_voyage }} jours / {{ avoir_instance.id_voyage.duree_voyage|add:"-1" }} nuits</span></span>
            <form method="get" action="{% url 'special_turqie_details' avoir_instance.id_voyage.id_voyage %}">
                <button type="submit"><i class="fa-solid fa-angles-right">&nbsp;&nbsp;</i>Details</button>
            </form>
                     
        </div>        
    </div> 
     {% endif%} 
    {% endfor %}
</section>
{% endblock main %}