{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="{% static "assets/travelmor-icon.png" %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block block_css %}{% endblock block_css %}
</head>
<body>
    <header>
        <div class="inner1">
            <div class="logo">
                <img src="{% static 'assets/travelmor-logo-bg.png' %}" alt="LOGO TRAVEL MOR">
            </div>
            <div class="search">
                <input type="text" name="search" placeholder="Recherche">
                <span><i class="fa-solid fa-magnifying-glass"></i></span>
            </div>
            <div class="log" id="LogMenuButton">
                <i class="fa-solid fa-bars"></i>
                <i class="fa-solid fa-circle-user"></i>
                <div class="menu hide" id="LogMenu">
                    <ul>
                        <li><a href="#">Inscription</a></li>
                        <li><a href="#">Connexion</a></li>
                        <li><a href="#">Cartes cadeaux</a></li>
                        <li><a href="#">Centre d'aide</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="inner2">
            <nav>
                <ul>
                    <li><a class="{% block url_1_class %}{% endblock url_1_class %}" href="{% url "home" %}" ><i class="fa-solid fa-house"></i><span>Accueil</span></a></li>
                    <li><a class="{% block url_2_class %}{% endblock url_2_class %}" href="{% url "hotels" %}"><i class="fa-solid fa-hotel"></i><span>Hôtels </span></a></li>
                    <li><a class="{% block url_3_class %}{% endblock url_3_class %}" href="{% url "special_turqie" %}"><i class="fa-solid fa-wand-magic-sparkles"></i>Special Turquie</span></a></li>
                    <li><a class="{% block url_4_class %}{% endblock url_4_class %}" href="{% url "special_asie" %}"><i class="fa-solid fa-wand-magic-sparkles"></i>Special Asie</span></a></li>
                    <li><a class="{% block url_5_class %}{% endblock url_5_class %}" href="{% url "voyage_organise" %}"><i class="fa-solid fa-wand-magic-sparkles"></i>Voyage organisé</span></a></li>
                    <li><a class="{% block url_6_class %}{% endblock url_6_class %}" href="{% url "special_omra" %}"><i class="fa-solid fa-kaaba"></i></i><span>Special Omra</span></a></li>
                    <li><a class="{% block url_7_class %}{% endblock url_7_class %}" href="{% url "special_haj" %}"><i class="fa-solid fa-kaaba"></i></i><span>Special Haj</span></a></li>
                    <li><a class="{% block url_8_class %}{% endblock url_8_class %}" href="{% url "promotions" %}"><i class="fa-solid fa-percent"></i><span>Promotion</span></a></li>
                </ul>
            </nav>
        </div>

    </header>
    <div class="container"></div>
    {% block main %} {% endblock %}

    <footer>
        <section class="Paiement">
            <h3>Paiement securisé</h3>
            <div class="methods">
                <!-- on va mettre ici de icones de methodes de Paiement -->
                <img src="{% static "assets/visa.png" %}" alt="payment-methode-visa">
                <img src="{% static "assets/paypal.png" %}" alt="payment-methode-paypal">
                <img src="{% static "assets/western-union.png" %}" alt="payment-methode-western-union">
                <img src="{% static "assets/payoneer.png" %}" alt="payment-methode-payoneer">
            </div>
        </section>

        <section class="contact-news-letter">
            <div class="contact-box">
                <div class="image-box">
                    <img src="{% static "assets/support-services.png" %}">
                </div>
                <div class="telephone">
                    CONTACTEZ NOS SPÉCIALISTES VOYAGES AU<br>
                    <span>0600600000</span>
                    <p>du lundi au Samedi de 09h00 à 18h00 | horaires de ramadan 09h00 à 16h00</p>
                </div>
            </div>
            <div class="email-box">
                <p>S'abonner à la newsletter :</p>
                <input type="email" name="search" placeholder="Entrer votre email..">
                <span><i class="fa-solid fa-envelope"></i></span>
            </div>
        </section>

        <section class="menu">
            <nav class="apropos">
                <ul>
                    <li><a href="#">Qui somme nous ?</a></li>
                    <li><a href="#">Conditions Générales de Vente</a></li>
                    <li><a href="#">Partenaires de l'Agence</a></li>
                    <li><a href="#">Voyage en Groupe</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
            <nav class="hotel">
                <ul>
                    <li><a href="#">Qui somme nous ?</a></li>
                    <li><a href="#">Conditions Générales de Vente</a></li>
                    <li><a href="#">Partenaires de l'Agence</a></li>
                    <li><a href="#">Voyage en Groupe</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
            <nav class="voyage">
                <ul>
                    <li><a href="#">Qui somme nous ?</a></li>
                    <li><a href="#">Conditions Générales de Vente</a></li>
                    <li><a href="#">Partenaires de l'Agence</a></li>
                    <li><a href="#">Voyage en Groupe</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </section>
        <section class="copyright-socials">
            <div class="socials">
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-tiktok"></i></a>
            </div>
            <p>&copy; 2024 TravelMor, Inc</p>
            <div class="menu">
                <a href="#">Confidentialité</a><span>&bull;</span>
                <a href="#">Conditions générales</a><span>&bull;</span>
                <a href="#">Plan du site</a><span>&bull;</span>
                <a href="#">Fonctionnement du site</a><span>&bull;</span>
                <a href="#">Infos sur l'entreprise</a>
            </div>
        </section>
    </footer>
    {% block js_block %} {% endblock %} 
    <script src="{% static 'js/base.js' %}" type="text/javascript"></script>
</body>
</html>
