{% extends 'app/templates/base.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block js_block %} 
    <script src="{% static 'js/home.js' %}" type="text/javascript"></script>
    <script>
        function toggleLike(heart) {
            if (heart.src.includes('{% static "assets/like-full.svg" %}')) {
                heart.src = '{% static "assets/like-empty.svg" %}';
            } else {
                heart.src = '{% static "assets/like-full.svg" %}';
            }
        }
    </script>
{% endblock %}
