{% extends 'app/templates/base.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block main %}
    <section class="first">
        <h1>Voyager <span>le monde</span></h1>
    </section>
    <section class="last">
    </section>
    {% comment %} <div class="mini-card-voyage">
        <div class="image">
            <img src="{% static 'assets/hotel.png' %}" alt="image-hotel">
            <span class="not-liked"></span>
        </div>
        <div class="body">
            <span class="localisation"><img src="{% static "assets/localisation.png" alt="localisation" %}">Maroc</span>
            <span class="price">Prix: <span>289&euro;</span></span>
            <span class="rating">Prix: <span>289&euro;</span></span>
        </div>
    </div> {% endcomment %}
{% endblock %}