{% extends "app/templates/base.html" %}
{% load static %}
{% block css_block %}
<link rel="stylesheet" href="{% static "css/registration.css" %}">
{% endblock css_block %}
{% block title %}Formulaire de Paiement{% endblock title %}
{% block main %}

<form class="modal-content animate" method="post" action="{% url 'paiement' vol.id_vol %}" style="margin-block: 200px;">
    <div class="head">
        <h2>Formulaire de Paiement</h2>
        <p>Montant Total: {{ montant }}</p>
        <p>Details du Voyage:</p>
        <ul>
            <li>Titre du Voyage: {{ voyage.titre_voyage }}</li>
            <li>ID du Vol: {{ vol.id_vol}}</li>
            <li>Transport: {% if voyage.transport %} True {% else %} False{% endif %}</li>
            <li>Petit Dejeuner: {% if voyage.id_hotel.petit_dejeuner %} True {% else %} False{% endif %}</li>

        </ul>
    </div>
    {% csrf_token %}
    <div class="container-login">
        {{ form.as_p }}
        <button type="submit">Payer</button>
    </div>
</form>
{% endblock main %}


