{% extends 'base.html' %}
{% load static %}
{% block title %} Inscription utilisateur {% endblock title %}
{% block block_css %}
<link rel="stylesheet" href="{% static "css/registration.css" %}">

{% endblock block_css %}
{% block menu_per_log_case %}
    {% if request.session.code_session %}
        <div class="log" id="LogMenuButton">
            <i class="fa-solid fa-bars"></i>
            <img src="{% static 'assets/profile_imgs/' %}{{ utilisateur.path_img_profile }}">
            <div class="menu hide" id="LogMenu">
                <ul>
                    <li><a href="{% url 'profile' request.session.code_session %}">Profile</a></li>
                    <li><a href="{% url 'logout' %}">Deconnexion</a></li>
                    <li><a href="#">Cartes cadeaux</a></li>
                    <li><a href="#">Centre d'aide</a></li>
                </ul>
            </div>
        </div>
    {% else %}
        <div class="log" id="LogMenuButton">
            <i class="fa-solid fa-bars"></i>
            <i class="fa-solid fa-circle-user"></i>
            <div class="menu hide" id="LogMenu">
                <ul>
                    <li><a href="{% url 'registration' %}">Inscription</a></li>
                    <li><a href="#" onclick="document.getElementById('login-form-modal').style.display='block'">Connexion</a></li>
                    <li><a href="#">Cartes cadeaux</a></li>
                    <li><a href="#">Centre d'aide</a></li>
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock menu_per_log_case %}

{% block main %}

<form class="modal-content animate" method="POST" action="{% url 'registration' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
    {% endif %}
    <div class="head">
        <h1>Inscription utilisateur</h3>
    </div>
    <div class="container-login">
        <label for="nom">Nom:</label>
      <input type="text" name="nom" required />

      <label for="prenom">Prénom:</label>
      <input type="text" name="prenom" required />

      <label for="nom_utilisateur">Nom utilisateur:</label>
      <input type="text" name="nom_utilisateur" required />

      <label for="email">Email:</label>
      <input type="email" name="email" required />

      <label for="num_telephone">Numéro de téléphone:</label>
      <input type="text" name="num_telephone" required />

      <label for="mot_d_passe">Mot de passe:</label>
      <input type="password" name="mot_d_passe" required />

      <label for="path_img_profile" class="custom-file-label">Image de profil:</label>
      <input type="file" name="path_img_profile" accept="image/*" class="custom-file-input" />
        <button type="submit">S'inscrire</button>
    </div>
</form>
{% endblock main %}
